@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto+Condensed:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: black;
    font-family: "Roboto Condensed", sans-serif;
  }
  main.home {
    height: calc(100vh - 4.5rem);
  }
}

/* sidebar grid row: span 
2 + Math.ceil((products.length / 3)) / Math.ceil(products.length / 3)  */
