@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto+Condensed:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    html{
      width: 100%;
      overflow-y: hidden;
    }
    body{
      background-color: black;
     font-family: 'Roboto Condensed', sans-serif;
    }
    main{
      height: calc(100vh - 4rem);
      background-image: url("https://www.notebookcheck.net/fileadmin/Notebooks/News/_nc3/csm_geforce_rtx_4080_product_photo_001_7_a4f5f5ba77.jpg");
    }
  }